In [17]:
# import required modules
import requests,json
import os
from dotenv import load_dotenv
import pandas as pd
load_dotenv()
api_key =os.getenv("OPENWEATHER_API_KEY") 
input_city = "Kolkata"
def get_weather(input_city):
    
    base_url = "http://api.openweathermap.org/data/2.5/weather"

    url=f"{base_url}?q={input_city}&appid={api_key}"
    r = requests.get(url)
    data = r.json()
    return data

# make a function to get the above data
def get_weather_data(input_city):
    data = get_weather(input_city)
    weather_data = { 
        'City': data['name'],
        'Country': data['sys']['country'],
        'Longitude': data['coord']['lon'],
        'Latitude': data['coord']['lat'],
        'Weather Description': data['weather'][0]['description'],
        'Temperature (K)': data['main']['temp'],
        'Pressure (hPa)': data['main']['pressure'],
        'Humidity (%)': data['main']['humidity'],
        'Wind Speed (m/s)': data['wind']['speed'],
        'Wind Direction (degrees)': data['wind']['deg'],
        'Cloudiness (%)': data['clouds']['all'],
        'Sunrise (UTC)': pd.to_datetime(data['sys']['sunrise'], unit='s'),
        'Sunset (UTC)': pd.to_datetime(data['sys']['sunset'], unit='s')
    }
    return pd.DataFrame([weather_data])

In [18]:
data = get_weather_data(input_city)
data

,City,Country,Longitude,Latitude,Weather Description,Temperature (K),Pressure (hPa),Humidity (%),Wind Speed (m/s),Wind Direction (degrees),Cloudiness (%),Sunrise (UTC),Sunset (UTC)
0,Kolkata,IN,88.3697,22.5697,overcast clouds,301.81,1004,80,4.06,181,100,2025-08-10 23:41:58,2025-08-11 12:41:41